openapi: 3.1.0
info:
  contact:
    email: ""
    name: ""
    url: ""
  description: Ms User API documentation
  license:
    name: unlicensed
    url: ""
  termsOfService: ""
  title: Ms User API
  version: 0.0.1
servers:
- description: Generated server url
  url: https://apigateway.microservices.appf4s.io.vn/services/msuser
paths:
  /api/user-preferences/{id}:
    delete:
      operationId: deleteUserPreferences
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - user-preferences-resource
      x-accepts:
      - application/json
    get:
      operationId: getUserPreferences
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserPreferencesDTO"
          description: OK
      tags:
      - user-preferences-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateUserPreferences
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencesDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/UserPreferencesDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserPreferencesDTO"
          description: OK
      tags:
      - user-preferences-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateUserPreferences
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencesDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserPreferencesDTO"
          description: OK
      tags:
      - user-preferences-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/app-users/{id}:
    delete:
      operationId: deleteAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - app-user-resource
      x-accepts:
      - application/json
    get:
      operationId: getAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AppUserDTO"
          description: OK
      tags:
      - app-user-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AppUserDTO"
          description: OK
      tags:
      - app-user-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AppUserDTO"
          description: OK
      tags:
      - app-user-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/user-preferences:
    get:
      operationId: getAllUserPreferences
      parameters:
      - explode: true
        in: query
        name: id.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: id.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: id.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: preferredLanguage.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: preferredLanguage.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: preferredLanguage.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: emailNotifications.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: emailNotifications.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: emailNotifications.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: emailNotifications.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: emailNotifications.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: smsNotifications.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: smsNotifications.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: smsNotifications.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: smsNotifications.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: smsNotifications.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: pushNotifications.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: pushNotifications.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: pushNotifications.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: pushNotifications.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: pushNotifications.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: phone.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: phone.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: phone.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: email.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: appUserId.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: appUserId.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: appUserId.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: distinct
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/UserPreferencesDTO"
                type: array
          description: OK
      tags:
      - user-preferences-resource
      x-accepts:
      - '*/*'
    post:
      operationId: createUserPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencesDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserPreferencesDTO"
          description: OK
      tags:
      - user-preferences-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/ms-user-kafka/publish/user-updated:
    post:
      operationId: publishUserUpdated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      tags:
      - ms-user-kafka-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/ms-user-kafka/publish/user-created:
    post:
      operationId: publishUserCreated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      tags:
      - ms-user-kafka-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/ms-user-kafka/publish/simple:
    post:
      operationId: publishSimple
      parameters:
      - explode: true
        in: query
        name: message
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      tags:
      - ms-user-kafka-resource
      x-accepts:
      - '*/*'
  /api/app-users:
    get:
      operationId: getAllAppUsers
      parameters:
      - explode: true
        in: query
        name: id.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: id.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: id.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: username.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: username.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: username.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: email.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: phoneNumber.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: phoneNumber.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: phoneNumber.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: firstName.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: firstName.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: firstName.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastName.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: lastName.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastName.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: dateOfBirth.greaterThan
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.lessThan
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.greaterThanOrEqual
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.lessThanOrEqual
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.equals
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.notEquals
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: dateOfBirth.in
        required: false
        schema:
          items:
            format: date
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: dateOfBirth.notIn
        required: false
        schema:
          items:
            format: date
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: idNumber.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: idNumber.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: idNumber.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: nationality.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: nationality.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: nationality.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: profileImage.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: profileImage.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: profileImage.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isVerified.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isVerified.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isVerified.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isVerified.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isVerified.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isActive.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isActive.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isActive.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isActive.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isActive.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: createdAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastLoginAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: lastLoginAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastLoginAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: preferencesId.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: preferencesId.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: preferencesId.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: distinct
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/AppUserDTO"
                type: array
          description: OK
      tags:
      - app-user-resource
      x-accepts:
      - '*/*'
    post:
      operationId: createAppUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AppUserDTO"
          description: OK
      tags:
      - app-user-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/user-preferences/count:
    get:
      operationId: countUserPreferences
      parameters:
      - explode: true
        in: query
        name: id.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: id.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: id.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: preferredLanguage.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredLanguage.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: preferredLanguage.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: preferredLanguage.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: emailNotifications.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: emailNotifications.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: emailNotifications.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: emailNotifications.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: emailNotifications.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: smsNotifications.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: smsNotifications.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: smsNotifications.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: smsNotifications.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: smsNotifications.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: pushNotifications.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: pushNotifications.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: pushNotifications.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: pushNotifications.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: pushNotifications.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: phone.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phone.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: phone.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: phone.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: email.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: appUserId.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: appUserId.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: appUserId.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: appUserId.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: distinct
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int64
                type: integer
          description: OK
      tags:
      - user-preferences-resource
      x-accepts:
      - '*/*'
  /api/ms-user-kafka/status:
    get:
      operationId: getStatus
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
          description: OK
      tags:
      - ms-user-kafka-resource
      x-accepts:
      - '*/*'
  /api/app-users/count:
    get:
      operationId: countAppUsers
      parameters:
      - explode: true
        in: query
        name: id.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: id.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: id.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: username.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: username.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: username.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: username.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: email.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: email.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: phoneNumber.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phoneNumber.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: phoneNumber.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: phoneNumber.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: firstName.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: firstName.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: firstName.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: firstName.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastName.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lastName.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: lastName.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastName.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: dateOfBirth.greaterThan
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.lessThan
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.greaterThanOrEqual
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.lessThanOrEqual
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.equals
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.notEquals
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateOfBirth.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: dateOfBirth.in
        required: false
        schema:
          items:
            format: date
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: dateOfBirth.notIn
        required: false
        schema:
          items:
            format: date
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: idNumber.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: idNumber.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: idNumber.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: idNumber.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: nationality.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nationality.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: nationality.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: nationality.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: profileImage.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: profileImage.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: profileImage.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: profileImage.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isVerified.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isVerified.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isVerified.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isVerified.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isVerified.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isActive.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isActive.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isActive.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isActive.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isActive.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: createdAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastLoginAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: lastLoginAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: lastLoginAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastLoginAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: preferencesId.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: preferencesId.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: preferencesId.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: preferencesId.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: distinct
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int64
                type: integer
          description: OK
      tags:
      - app-user-resource
      x-accepts:
      - '*/*'
  /api/ms-user-kafka/publish/user-deleted/{id}:
    delete:
      operationId: publishUserDeleted
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
          description: OK
      tags:
      - ms-user-kafka-resource
      x-accepts:
      - '*/*'
components:
  schemas:
    UserPreferencesDTO:
      example:
        emailNotifications: true
        preferredLanguage: preferredLanguage
        smsNotifications: true
        pushNotifications: true
        phone: phone
        id: 0
        email: email
      properties:
        id:
          format: int64
          type: integer
        preferredLanguage:
          type: string
        emailNotifications:
          type: boolean
        smsNotifications:
          type: boolean
        pushNotifications:
          type: boolean
        phone:
          type: string
        email:
          type: string
    AppUserDTO:
      example:
        lastName: lastName
        preferences:
          emailNotifications: true
          preferredLanguage: preferredLanguage
          smsNotifications: true
          pushNotifications: true
          phone: phone
          id: 0
          email: email
        isVerified: true
        dateOfBirth: 2000-01-23
        profileImage: profileImage
        idNumber: idNumber
        isActive: true
        firstName: firstName
        createdAt: 2000-01-23T04:56:07.000+00:00
        phoneNumber: phoneNumber
        lastLoginAt: 2000-01-23T04:56:07.000+00:00
        nationality: nationality
        id: 0
        email: email
        username: username
      properties:
        id:
          format: int64
          type: integer
        username:
          maxLength: 60
          minLength: 3
          type: string
        email:
          pattern: "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$"
          type: string
        phoneNumber:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          format: date
          type: string
        idNumber:
          type: string
        nationality:
          type: string
        profileImage:
          type: string
        isVerified:
          type: boolean
        isActive:
          type: boolean
        createdAt:
          format: date-time
          type: string
        lastLoginAt:
          format: date-time
          type: string
        preferences:
          $ref: "#/components/schemas/UserPreferencesDTO"
      required:
      - createdAt
      - email
      - isActive
      - username

